<ul class="icon-links">
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_github_url }}" class="icon-link">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_instagram_url }}" class="icon-link">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_github_url }}" class="icon-link">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>

  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.gmail_github_url }}" class="icon-link">
      <i class="far fa-envelope"></i>">
    </a>
  </li>
</ul>
